<header>
  <ul>
    <%if (locals.user){%>
    <li><h1>Codial</h1></li>
    <li><a href="/users/profile"><%=user.name%></a></li>
    <li>
      <a href="/users/sign-out">Sign out</a>
    </li>

    <%}else{ %>
    <li><h1>Codial</h1></li>
    <li><a href="/users/sign-in">Sign in</a></li>
    <li><a href="/users/sign-up">Sign out</a></li>
    <% }%>
  </ul>
</header>
